:root{
    --gn:green;
    --oc:orange;
    --rc:red;
}

.div1{
    width: 100px;
    height: 80px;
    background-color: var(--gn);

    transform: rotate(30deg);
}

.div2{
    width: 100px;
    height: 80px;
    background-color: var(--oc);

    transform: rotate(-30deg);
}

.div3{
    width: 100px;
    height: 80px;
    background-color: var(--rc);

    transform: rotateX(100deg);
}

.div5{
    width: 2;
}
