.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.circle1 {
    background: conic-gradient(yellow, red, green, pink)
}

.circle2 {
    background: conic-gradient(
            yellow 20%,
            red 0% 40%,
            green 0% 60%,
            pink 0% 100%)
}

.boxone{
    width: 600px;
    height: 300px;

    background-color: green;

    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxone .div1{
    width: 300px;
    height: 300px;

    background-color: black;
    color: #fff;

    position:absolute;
    z-index: 2;

    border-radius: 50%;


}

.boxone .div2{
    width: 320px;
    height: 320px;

    background-color: steelblue;
    color: #fff;

    position: absolute;

    border-radius: 50%;

    background: conic-gradient(
        red,
        yellow 50%,
        red 0% 75%,
        blue 100%
    );

    

}

.pointercontainer{
    width: 20px;
    height: 250px;

    background-color: steelblue;

    z-index: 3;

    position:absolute;
    top: -100px;

    animation-name: myani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;
}

.pointer{
    width: 20px;
    height: 20px;

    background-color: red;
    border-radius: 50%;

    display: block;

    position: absolute;
    z-index: 3;
}



@keyframes myani{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}